<ion-content color="light" padding>
    
  <form #form="ngForm" (ngSubmit)="login()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
               <div text-center>
                    <img alt="Logo" height="80" src="../../assets/location.jpg" >
                </div>
         <div text-center>
            <h3>Child Tracking</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" [(ngModel)]="username" placeholder="Email" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" [(ngModel)]="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button style="color: #062f77;" size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
          <div padding>
              <ion-button (click)="loginGoogle()" style="background-color: #afb1b4" size="large" expand="block"><img src="../../assets/google.svg">Sign in</ion-button>
          </div>
          <div>{{lbl}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>