
<ion-content>
<ion-card>
  <ion-card-content>
    <img src="../assets/splash.jpg" alt="" style="height:300px;">
  </ion-card-content>
</ion-card>
<ion-text color="dark">
  <h1 style="text-align: center;">Child Tracking</h1>
</ion-text>
</ion-content>
