<ion-header>
  <ion-toolbar>
    <ion-title>Child View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-button expand="full" (click) = "StartBackgroundTracking()">Start Background Tracking</ion-button><br/>
<ion-button expand="full" (click) = "StopBackgroundTracking()">Stop Background Tracking</ion-button><br/>
<ion-button expand="full" (click) = "GetLocation()">Get Location</ion-button><br/>
<ion-button expand="full" (click) = "ClearLocation()">Clear Location</ion-button><br/>

<ion-list *ngFor="let location of locations">
      <ion-item><ion-label><b>Latitude: {{location.latitude}}</b></ion-label></ion-item>
      <ion-item><ion-label><b>Longitude: {{location.longitude}}</b></ion-label></ion-item>
      <ion-item><ion-label><b>Speed: {{location.speed}}</b></ion-label></ion-item>
      <ion-item><ion-label><b>Time: {{location.time}}</b></ion-label></ion-item>
</ion-list>

<br/>

<ion-grid fixed>
  <ion-row>
    <ion-col text-center>
      <ion-button (click)="checkGPSPermission()">
        Request GPS Accuracy
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">Longitude</ion-col>
    <ion-col> {{locationCoords.longitude}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">Latitude</ion-col>
    <ion-col>{{locationCoords.latitude}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">Accuracy</ion-col>
    <ion-col>{{locationCoords.accuracy}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">Timestamp</ion-col>
    <ion-col>{{locationCoords.timestamp | date:'medium'}}</ion-col>
  </ion-row>
</ion-grid>
</ion-content>
